### 테이블 생성

In [8]:
# 1. 라이브러리 가져오기
import pymysql

# 2. 접속하기
db = pymysql.connect(host='localhost', port=3306, user='root', passwd='qwer1234', db='testdb', charset='utf8')

# 3. 커서 가져오기
cursor = db.cursor()

# 4. SQL 구문 만들기 (CRUD SQL 구문 등)
sql = '''
    CREATE TABLE user (
        name varchar(20) not null,
        email varchar(30) not null,
        primary key(name)
    );
'''

# 5. SQL 구문 실행하기
cursor.execute(sql)

# 6. DB에 Complete 하기
db.commit()

# 7. DB 연결 닫기
db.close()

### 데이터 추가(INSERT)

In [9]:
import pymysql

conn = pymysql.connect(host='localhost',
                       user='root',
                       password='qwer1234',
                       db='testdb',
                       charset='utf8')

sql = "INSERT INTO user (name, email) VALUES (%s, %s)"

with conn:
    with conn.cursor() as cur:
        cur.execute(sql, ('Jaehee', 'jaehee@example.com'))
        cur.execute(sql, ('Jeongeun', 'jeongeun@example.com'))
        conn.commit()

### 데이터 추가 확인

In [10]:
import pymysql

conn = pymysql.connect(host='localhost',
                       user='root',
                       password='qwer1234',
                       db='testdb',
                       charset='utf8')

sql = "SELECT * FROM user ORDER BY name"

with conn:
    with conn.cursor() as cur:
        cur.execute(sql)
        result = cur.fetchall()
        for data in result:
            print(data)

('Jaehee', 'jaehee@example.com')
('Jeongeun', 'jeongeun@example.com')

### 데이터 업데이트(UPDATE)

In [11]:
import pymysql

conn = pymysql.connect(host='localhost',
                       user='root',
                       password='qwer1234',
                       db='testdb',
                       charset='utf8')

sql = "UPDATE user SET email = %s WHERE email = %s"

with conn:
    with conn.cursor() as cur:
        cur.execute(sql, ('jaehee@test.com', 'jaehee@example.com'))
        conn.commit()

### 데이터 삭제(DELETE)

In [12]:
import pymysql

conn = pymysql.connect(host='localhost',
                       user='root',
                       password='qwer1234',
                       db='testdb',
                       charset='utf8')

sql = "DELETE FROM user WHERE name = %s"

with conn:
    with conn.cursor() as cur:
        cur.execute(sql, ('Jaehee'))
        conn.commit()
        print(cur.rowcount, "rows deleted")

1 rows deleted