In [1]:
# pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.3-py3-none-any.whl (43 kB)
     --------------------------------------- 43.7/43.7 kB 79.4 kB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.0.3
Note: you may need to restart the kernel to use updated packages.

In [3]:
db = pymysql.connect(host='localhost', port=3306, user='root', passwd='qwer1234', db='ecommerce', charset='utf8')

print(db)

<pymysql.connections.Connection object at 0x000001DBE9971700>

In [4]:
cursor = db.cursor()

print(cursor)

<pymysql.cursors.Cursor object at 0x000001DBE7877AF0>

In [5]:
# 1. 라이브러리 가져오기
import pymysql

# 2. 접속하기
db = pymysql.connect(host='localhost', port=3306, user='root', passwd='qwer1234', db='ecommerce', charset='utf8')

# 3. 커서 가져오기
cursor = db.cursor()

# 4. SQL 구문 만들기 (CRUD SQL 구문 등)
sql = '''
    CREATE TABLE product (
        PRODUCT_CODE VARCHAR(20) NOT NULL,
        TITLE VARCHAR(200) NOT NULL,
        ORI_PRICE INT,
        DISCOUNT_PRICE INT,
        DISCOUNT_PERCENT INT,
        DELIVERY VARCHAR(2),
        PRIMARY KEY(PRODUCT_CODE)
    );
'''

# 5. SQL 구문 실행하기
cursor.execute(sql)

# 6. DB에 Complete 하기
db.commit()

# 7. DB 연결 닫기
db.close()

### 테이블 생성(삽입)

In [7]:
import pymysql

db = pymysql.connect(host = 'localhost', port = 3306, user = 'root', passwd = 'qwer1234', db = 'ecommerce', charset = 'utf8')

cursor = db.cursor()

sql = '''
        INSERT INTO product VALUES
        ('215673140', '스위트바니 여름신상 롱원피스', 23000, 6900, 70, 'F');
'''
cursor.execute(sql)

db.commit()
db.close()

In [9]:
import pymysql

db = pymysql.connect(host='127.0.0.1', port=3306, user='root', passwd='qwer1234', db='ecommerce', charset='utf8')

cursor = db.cursor()

for index in range(10):
    product_code = 215673140 + index + 1
    sql = """INSERT INTO product VALUES(
    '""" + str(product_code) + """', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'); """
    print(sql)
    cursor.execute(sql)

db.commit()
db.close()

INSERT INTO product VALUES(
    '215673141', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F');
INSERT INTO product VALUES(
    '215673142', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F');
INSERT INTO product VALUES(
    '215673143', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F');
INSERT INTO product VALUES(
    '215673144', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F');
INSERT INTO product VALUES(
    '215673145', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F');
INSERT INTO product VALUES(
    '215673146', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F');
INSERT INTO product VALUES(
    '215673147', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F');
INSERT INTO product VALUES(
    '215673148', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F');
INSERT INTO product VALUES(
    '215673149', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F');
INSERT INTO product VALUES(
    '215673150', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F');

### 데이터 검색(조회)

In [11]:
import pymysql
db = pymysql.connect(host='localhost', port=3306, user='root', passwd='qwer1234', db='ecommerce', charset='utf8')
cursor = db.cursor()

sql = "SELECT * FROM product"
cursor.execute(sql)

result = cursor.fetchall()
for record in result:
    print(record)
db.close()

('215673140', '스위트바니 여름신상 롱원피스', 23000, 6900, 70, 'F')
('215673141', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')
('215673142', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')
('215673143', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')
('215673144', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')
('215673145', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')
('215673146', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')
('215673147', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')
('215673148', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')
('215673149', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')
('215673150', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')

In [13]:
import pymysql
db = pymysql.connect(host='localhost', port=3306, user='root', passwd='qwer1234', db='ecommerce', charset='utf8')
cursor = db.cursor()

sql = "SELECT * FROM product"
cursor.execute(sql)

result = cursor.fetchmany(size = 3)
for record in result:
    print(record)
db.close()

# fetchmany() 함수의 인자로 조회할 데이터의 개수를 지정할 수 있다.(ex. fetchmany(size = 10))

('215673140', '스위트바니 여름신상 롱원피스', 23000, 6900, 70, 'F')
('215673141', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')
('215673142', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')

In [14]:
import pymysql
db = pymysql.connect(host='localhost', port=3306, user='root', passwd='qwer1234', db='ecommerce', charset='utf8')
cursor = db.cursor()

sql = "SELECT * FROM product"
cursor.execute(sql)

result = cursor.fetchone()
print(result)
db.close()

('215673140', '스위트바니 여름신상 롱원피스', 23000, 6900, 70, 'F')

### 데이터 수정

In [16]:
import pymysql
db = pymysql.connect(host='localhost', port=3306, user='root', passwd='qwer1234', db='ecommerce', charset='utf8')
cursor = db.cursor()

SQL = """
UPDATE product SET 
    TITLE='달리샵린넨원피스 뷔스티에 썸머 가디건 코디전', 
    ORI_PRICE=33000, 
    DISCOUNT_PRICE=9900, 
    DISCOUNT_PERCENT=70 
    WHERE PRODUCT_CODE='215673141'
"""

cursor.execute(SQL)
db.commit()
db.close()

### 데이터 삭제

In [18]:
import pymysql
db = pymysql.connect(host='localhost', port=3306, user='root', passwd='qwer1234', db='ecommerce', charset='utf8')
cursor = db.cursor()

SQL = """DELETE FROM product WHERE PRODUCT_CODE='215673142'"""
cursor.execute(SQL)

db.commit()
db.close()